.pie-de-pagina {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%; }

footer {
  height: 150px;
  text-decoration: none; }
  footer .grupo-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 80px;
    width: 100%; }
  footer .grupo-2 {
    color: white;
    padding-left: 30px;
    padding-left: 130px;
    width: 100%; }
    footer .grupo-2__titulo {
      text-decoration: underline;
      color: gray;
      font-size: 20px;
      padding-bottom: 10px; }
    footer .grupo-2__lista {
      font-size: 13px;
      color: white;
      text-decoration: none;
      line-height: 30px; }
  footer .grupo-3 {
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 30px;
    width: 100%; }

@media (max-width: 768px) {
  .pie-de-pagina {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 100%; }
  footer .grupo-1 {
    padding: 10px 200px; }
  footer .grupo-2 {
    padding: 20px 0px;
    color: red;
    text-align: center; }
  footer .grupo-3 {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 0;
    font-size: 60%; } }

.nav-item {
  animation: navLink 1s; }

@keyframes navLink {
  0% {
    filter: blur(1.5rem); }
  100% {
    filter: blur(0); } }

.body-boot {
  background-image: radial-gradient(black, darkgrey); }

.textos-principales {
  text-align: center;
  color: white; }

h1 {
  animation: titulos 4s; }

@keyframes titulos {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

.lista-artistas {
  text-decoration: none; }

.artistas-size-size:hover {
  zoom: 200%; }

.preguntas {
  animation: preguntas 3s; }

@keyframes preguntas {
  0% {
    transform: translateX(700px); }
  100% {
    transform: translateX(0px); } }

.preguntas-invert {
  animation: preguntasInv 3s; }

@keyframes preguntasInv {
  0% {
    transform: translateX(-700px); }
  100% {
    transform: translateX(0px); } }

.form1 {
  border-radius: 10px;
  background-color: bisque;
  display: flex;
  color: black;
  max-width: 50%; }

.form2 {
  border-radius: 10px;
  background-color: lightgray;
  display: flex;
  color: black;
  max-width: 75%; }

.form3 {
  border-radius: 10px;
  background-color: darkblue;
  display: flex;
  color: white;
  max-width: 100%; }

.boton-enviarConsulta {
  border-radius: 10px;
  background-color: #060202;
  color: white;
  border: 1px solid white;
  padding: 5px; }

.boton-resetConsulta {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.769);
  color: white;
  border: 1px solid white;
  padding: 5px; }

.body-boot__qs {
  background-image: radial-gradient(black, darkgrey); }

.texto-qs {
  color: white; }

.quienes-move:hover {
  background-color: black; }

.imagen {
  height: 400px;
  width: 400px; }

@media (max-width: 768px) {
  .artistas-size {
    zoom: 80%; }
  .preguntas {
    zoom: 70%; }
  .preguntas-invert {
    zoom: 70%; } }

.pictures {
  animation: pictures 4s; }

@keyframes pictures {
  0% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(0deg);
    animation-iteration-count: 1; } }

.btn-base, .boton1, .boton2, .boton3 {
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 10px 5px; }

.boton1 {
  background-color: darkmagenta;
  color: white;
  margin-bottom: 15px; }

.boton2 {
  background-color: darkgreen;
  color: white;
  margin-bottom: 15px; }

.boton3 {
  background-color: darkblue;
  color: white;
  margin-bottom: 15px; }

.card-margin {
  margin-top: 10px; }
