@media (max-width:768px) {
    .artistas-size {
        zoom: 80%;
    }
    .preguntas  {
        zoom: 70%;
    }
    .preguntas-invert {
        zoom: 70%;
    }

    .pie-de-pagina {
        color: red;
    }
}