@media (max-width:768px) {
    .artistas-size {
        zoom: 80%;
    }
    .preguntas  {
        zoom: 70%;
    }
    .preguntas-invert {
        zoom: 70%;
    }

    .pie-de-pagina {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        height: 100%;
        width: 100%;
    }
    

    footer {
        width: 100%;
        .grupo-1 {
            padding: 10px 100px;
            width: 100%;
        }
        .grupo-2 {
        padding: 20px 0px;
        color: red;
        text-align: center;
        
        }
        .grupo-3 {
        color: white;
        text-align: center;
        display: flex;
        justify-content: center;
        padding: 0;
        font-size: 60%;
        }   
    }
}

