@import 'variables';
@import 'footer';
@import 'global';
@import 'artistas';
@import 'faq';
@import 'quienessomos';
@import 'artista1';
@import 'mediaq';

.pictures {
    animation: pictures 4s;

}

@keyframes pictures {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
        animation-iteration-count: 1;
    }
}
