   /* BOOTSTRAP */


/* .footer {
    height: 100px;
}

.footer-ol{
    display: flex; 
    list-style-type: none;
    justify-content: space-around;

} */







.body-boot__qs {
    background-image: radial-gradient(darkgray, black);
}

.texto-qs {
    color: white;
}

.imagen {
    height: 400px;
    width: 400px;
}







.pictures {
    animation: pictures 4s;

}

@keyframes pictures {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
        animation-iteration-count: 1;
    }
}

.preguntas {
    animation: preguntas 3s;
}

@keyframes preguntas {
    0% {
        transform: translateX(700px);
    }
    100% {
        transform: translateX(0px);
    }
}

.preguntas-invert {
    animation: preguntasInv 3s;
}

@keyframes preguntasInv {
    0% {
        transform: translateX(-700px);
    }
    100% {
        transform: translateX(0px);
    }
}




.quienes-move:hover {
    background-color: black;
}



.artistas-size:hover {
    zoom: 200%;
}

@media (max-width:768px) {
    .artistas-size {
        zoom: 80%;
    }
    .preguntas  {
        zoom: 70%;
    }
    .preguntas-invert {
        zoom: 70%;
    }
}