* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
}

.body-grid {
    display: grid;
    /* grid-template-areas:  
     "header header header"
     "main   main   main"
     "footer footer footer"; */
    grid-template-rows: 100px 700px 100px ;
    grid-template-columns: 1fr;
}

.fondo {
    background-image: radial-gradient(darkgray, black);
    
}

.headers1{
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    align-items: center;
    padding: 10px;
    width: 100vw;
}

.logo-header {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 50px;
    background-color: dimgray;
    border-radius: 10px;
    margin-right: 10px;
}

.logo-img:hover {
    background-color: white;
    zoom: 120%;
}

.nav-link {
    text-decoration: none;
    color: lightgrey;
    font-size: 20px;
    padding-right: 50px;
}

.nav-link:hover {
    color: aqua;
}

.main {
    padding: 50px 10px 0px 10px;
    margin: 0px auto;
    font-family: arial;
    font-weight: bolder;
    max-width: 1200px;
}

/* .section-main {
    width: 100%;
} */

h1.main__content { 
    font-size: 50px;
    color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    animation: indexTitulo 5s;
}

@keyframes indexTitulo {
    0% {
        transform: scale(0.5);
        
    }
    100% {
        transform: scale(1);
    }
}

div.fotos__main {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    padding-top: 60px;
    justify-content: center;
    gap: 100px;
    width: 100%;
    animation: indexFotos 5s;
}

@keyframes indexFotos {
    0% {
        transform: rotate(0deg) scale(0.5);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}

.card-fotos {
    background-color: lightgrey;
    width: 300px;
    height: 340px;
    border-radius: 10px;
    padding-bottom: 30px;
    padding-top: 5px;
    
}

.card-fotos:hover {
    background-color: goldenrod;
    zoom: 115%;
}

.card-fotos--text {
    text-align: center;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    position: fixed;
    border: solid black;
    right: 30px;
    bottom: 20px;
    padding: 10px 5px 10px 5px;
    background-color: blue;
    width: 140px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
}

.footer {
    padding: 30px 20px;
    width: 100%;
}

.footer__content {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5,100px);
    justify-content: center;
}

/* ARTISTAS */

.body-grid--artistas {
    display: grid;
    /* grid-template-areas:  
     "header header header"
     "main   main   main"
     "footer footer footer"; */
    grid-template-rows: 100px 850px 100px ;
}

.fondo-artistas {
    background-image: radial-gradient(black, darkgray);
}

.main-artistas {
    list-style-type: none;
    color: lightgray;   
}

.titulo-art {
    font-size: 50px;
    color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    display: flex;
    justify-content: center;
    text-align: center;
}

.subt-art {
    font-size: 40px;
    display: flex;
    padding: 50px 50px 80px 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    justify-content: center;
    text-align: center;
    color: lightgray;
}



.barra-buscadora {
    display: flex;
    justify-content: flex-end;
    width: 95%;
}

.barra-buscadora label {
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline;
}

.barra-buscadora  input {
    height: 37px;
}

.cartelera-artistas {
    border: bisque solid 1px; 
    animation: cartArt 3s;
}

@keyframes cartArt {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.cartelera-artistas ul {
    color: lightgray;
    text-decoration: none;
    font-size: 25px;
    line-height: 50px;
    list-style-type: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.cartelera-artistas ul a {
    text-decoration: none;
    color: lightgray;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

/* QUIENES SOMOS  */

.body-grid--quienes {
    display: grid;
    /* grid-template-areas:  
     "header header header"
     "main   main   main"
     "footer footer footer"; */
    grid-template-rows: 100px auto 100px ;
}

.fondo-quienes {
    background-image: linear-gradient(60deg, black, darkgray);
}

.main__content__quienes { 
    font-size: 50px;
    color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
}


#layout-quienes {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 200px;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    animation: fotoQuienes 4s;
}


.descripcion {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:lightgray;
    padding-bottom: 50px;
    text-align: center; 
    margin: 10px;
    border: 1px solid white;
}
.descripcion:hover {
    background-color: white;
    color: black;
}

.imagen-nosotras {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 10px;
    animation: fotoQuienes 4s;
}

@keyframes fotoQuienes {
    0% {
        filter: blur(1.5rem);
    }
    100% {
        filter: blur(0);
    }
}

/* FAQ */

.fondo-faq {
    background-image: radial-gradient(darkgray 10% 30%,black);
}

.header__content--faq  {
    text-decoration:overline underline;
    color:bisque;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bolder;
    justify-content: space-between;
    padding-left: 70px;
}

.titulo-faq {
    font-size: 50px;
    color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 40px;
}

.preguntas {
    list-style-type: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    line-height: 40px;
    padding-bottom: 10px;
    border: lightgray solid 4px;
}

.preguntas li {
    color: deeppink;
    text-decoration: underline;
    margin-left: 18px;
}

.preguntas p {
    color: bisque;
    margin-left: 50px;
    animation: preguntas 3s;
}

@keyframes preguntas {
    0% {
        transform: translateX(700px);
    }
    100% {
        transform: translateX(0px);
    }
}

.field-contact {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: bisque;
    font-weight: bolder;
}

.barras-contacto {
    height: 30px;
    width: 120px;
}

.rectangulo1 {
    padding: 5px;
    margin-left: 19px;
}

.rectangulo2 {
    padding: 5px;
    margin-left: 47px;
}

.body-grid--faq {
    display: grid;
    /* grid-template-areas:  
     "header header header"
     "main   main   main"
     "footer footer footer"; */
    grid-template-rows: 100px auto 100px ;
}

/* ARTISTA 1 */

.fondo-artista1 {
    background-color: black;
    backface-visibility: visible;
}

.nav-link1{
    text-decoration: none;
    color: lightgrey;
    font-size: 20px;
    padding-right: 50px;
}

.nav-link1:hover {
    color: aqua;
}

#main-artista1 {
    grid-area: main;
}

#titulo-artista1 {
    font-size: 80px;
    color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    text-decoration: underline;
    padding: 50px 50px 80px 50px;
    display: flex;
    justify-content: center;
}

#subt-artista1 {
    color: lightgray;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 30px;
}

.img-aveta {
    border: yellowgreen solid 3px;
} 

.iframe-aveta {
    border: red solid 3px;
    
}

#fotos__artista1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr);
}

.body-grid--art1 {
    display: grid;
    /* grid-template-areas:  
     "header header header"
     "main   main   main"
     "footer footer footer"; */
    grid-template-rows: 100px 1300px 100px ;
}

.articulos {
    display: grid;
    justify-content: center;
}


/* RESPONSIVE */

/* INDEX RESPONSIVE */

@media (max-width:768px) {
    
    body {
        width: 100%;
    }

    .fondo {
        width: 100%;
    }

    .body-grid {
        grid-template-rows: 130px auto 100px ;
        width: 100%;
        display: grid;
        justify-content: center;
    }

   

    .headers1 {
        display: flex;
        width: 100%;
    }
    a.nav-link {
        /* font-size: 5vw;
        width: 100%;
        display: flex;
        /* justify-content: flex-start; */
        /* position: relative;
        right: 40%; */ 
            font-size: 5vw;
            width: 100%;
            display: flex;
            /* justify-content: flex-start; */
            /* position: relative; */
            right: 40%;
    }


    a.logo-header {
        padding-bottom: 10px;
        zoom: 80%;
        position: relative;
    }

    a.logo-header1 {
        padding-bottom: 10px;
        zoom: 80%;
        position: relative;
        margin: 40px;
    }

    main.main {
        margin-top: 3rem;
        width: 100%;
    }
    
    
    h1.main__content {
        font-size: 10vw;
        display: flex;
        align-items: flex-end;
        padding: 5px 90px 20px 90px;
        width:100%;
        
    }



    div.fotos__main {
        display: grid;
        grid-template-columns: 100vw;
        zoom: 80%;
        gap: 10px;
        justify-content: center;
        padding-top: 30px;
        /* padding-right: 50px; */
        width: 100%;
    }
    .card-fotos {
        justify-self: center;
    }

    article a img {
        width: 100%;
        display: block;
    }

    .footer {
        width: auto;
        zoom: 100%;
        justify-content: center;
    }

    .footer__content {
        display: flex;
        gap: 10vw;
        
    }

    .card {
        position: fixed;
        margin-bottom: 55px;
        border-radius: 10px;
        
    }


}
/* RESPONSIVE ARTISTAS */

@media (max-width:768px) {
    .titulo-art {
        font-size: 10vw;
        display: flex;
        align-items: flex-end;
        padding: 70px 90px 20px 90px;
        width: auto;
        
    }

    .body-grid--artistas {
        display: grid;
        /* grid-template-areas:  
         "header header header"
         "main   main   main"
         "footer footer footer"; */
        grid-template-rows: 130px auto 100px ;
    }
    .main-artistas {
        display: grid;
        grid-template-rows: 0px;
        margin-top: 1rem;
        width: auto;
    }

    .subt-art {
        font-size: 5vw;
        display: flex;
        align-items: flex-end;
        padding: 50px 40px 20px 40px;
        width: auto;
        margin-top: 5rem;
    }

    body.fondo-artistas {
        width: 100vw;
    }

    .barra-buscadora input {
        height: 40px;
    }

    .barra-buscadora button {
        height: 40px;
    }

    .barra-buscadora label {
        font-size: 5vw;
    }

    .cartelera-artistas li {
        font-size: 4vw;
        line-height: 10vw;
    }
}

/* RESPONSIVE QUIENES SOMOS */

@media (max-width:768px){

    /* .fondo-quienes {
        width: 100vw;
    } */

    .body-grid--quienes {
        grid-template-rows: 170px auto 100px ;
        width: 100vw;
    }

    .main-quienes {
        margin-top: 2rem;
        width: 100vw;
    }

    .main__content__quienes {
        font-size: 10vw;
        display: flex;
        align-items: flex-end;
        padding: 20px 90px 60px 90px;
    }

    div.imagen-nosotras img {
        width: 100vw;
        display: inline;
        justify-self: center;
    }

    .descripcion {
    font-size: 3vw;
    overflow: scroll;
    width: 100%;
    }

    .imagen-nosotras {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}    
    @media (min-width:768px) {
        .descripcion {
            overflow: scroll;
        }
    }
/* RESPONSIVE FAQ */

@media (max-width:768px) {
    
    .body-grid--faq {
        grid-template-rows: 170px auto 100px ;
        width: 100vw;
    }

    .main-faq {
        margin-top: 3rem;
        width: 100vw;
    }

    .titulo-faq {
        font-size: 10vw;
        display: flex;
        align-items: flex-end;
        padding: 10px 90px 20px 90px;
        width: 100vw;
        
    }

    .preguntas {
        font-size: 5vw;
        line-height: 30px;
        width: 100vw;
    }

    /* .nav-link {
        font-size: 25px;
        width: 100vw;
    } */

    .field-contact {
        font-size: 20px;
        width: 100vw;
    }
}

/* ARTISTA 1 */

@media (max-width:768px) {

    .nav-link1 {
        font-size: 25px;
        padding: 10px;
        width: 100vw;
    }

    .main-art1 {
        margin-top: 5rem;
        width: 100vw;
    }

    #titulo-artista1 {
        font-size: 70px;
        text-align: center;
        align-items: center;
        padding: 80px 90px 20px 90px;
        width: 100vw;
    }

    #subt-artista1 {
        font-size: 60px;
        padding-left: 40px;
        padding-right: 40px;
        text-align: center;
        width: 100vw;
    }

    #fotos__artista1 {
        display: inline;
        zoom: 100%;
        gap: 20px;
        justify-items: center;
        padding-top: 30px;
        width: 100vw;
    }

    .img-aveta {
        zoom: 100%;
        display: grid;
        width: 100vw;
    }

    .iframe-aveta {
        zoom: 100%;
        display: grid;
        width: 100vw;
    }

    .body-grid--art1 {
        display: grid;
        /* grid-template-areas:  
         "header header header"
         "main   main   main"
         "footer footer footer"; */
        grid-template-rows: 100px auto 100px ;
    }

    .articulos {
        justify-content: space-around;
        gap: 30px;
    }
}


 



