   /* BOOTSTRAP */
footer {
    height: 100px;
}
footer ol{
    display: flex; 
    list-style-type: none;
    justify-content: space-around;

}

.body-boot {
    background-image: radial-gradient(black, darkgrey);
    
}

.textos-principales {
    text-align: center;
    color: white;
}

.lista-artistas {
    text-decoration: none;
}
